<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="..\static\css\normalize.css">
    <link rel="stylesheet" href="..\static\css\styles.css">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container">
        <header class="header">
            Gravitation
        </header>
        <nav class="sidenav">
            <div>Wiki</div>
            <div>Play</div>
        </nav>
        <main class="main-content">
            {% block main %}
            {% endblock %}
        </main>
    </div>
    {% endblock %}
</body>
</html>